@charset "UTF-8";


img{
	width:100%;
}


.input-box{
    position: absolute;
    top: 48%;
    left: 72%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color:white;
}
.input-box h2{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.input-box .user-box{
    position: relative;
}
.input-box .user-box input{
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 26px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


.input-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin:50px 0px 20px 10px;
    float:right;
}
.input-box a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e2ff,
                0 0 20px #03e2ff,
                0 0 40px #03e2ff,
                0 0 80px #03e2ff;
}
.input-box a span{
    position: absolute;
    display: block;
}
.input-box a span:nth-child(1){
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.input-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.input-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.input-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100% ;
    }
}

.cc3{
	margin:6px 45px 7px 0;
	float:left;
}
.cc4{
	margin:10px 0 30px 0;
	display:inline-block;
	text-align:left;
}
.cc5{
	margin:5px 15px 0 0;
	float:left;
	margin-bottom:10px;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #46576f;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 13em;
   height: 2em;
   line-height: 2;
   background: #46576f;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}

#date{
	background:rgba(80, 80, 100, 0.4);
	border-radius:10px;
	padding:6px;
	margin-top:3px;
}
