@charset "UTF-8";
/* student_list */
.list_body{
	width:100%;
	white-space:nowrap;
	position:relative;
}
.background_div{
	background-color:black;
	width:100%;
	height:100%;
	bottom:0;
	right:0;
	position:absolute;
	z-index: -2;
}
.back-video{
	width:100%;
	position:absolute;
	top:0;
	right:0;
	z-index:-1;
}
#table_wrapper{
	background: rgba(1, 1, 3, 0.5);
	border-radius:10px;
	padding:10px;;
	color:#3dcbde;
	width:55%;
	margin-left:23%;
}

.op_listTitle{
	color:#3ac1d3;
	text-align:center;
	margin:40px;
}

.c1 {
	width : 6%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c2 {
	width : 12%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c3 {
	width : 4%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c4 {
	width : 8%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c5 {
	width : 17%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c6 {
	width : 15%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c7 {
	width : 10%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c8 {
	width : 9%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
.c9 {
	width : 10%;
	margin: 3px 0;
	text-align : center;
	display:inline-block;
}
#r1 {	
	background-color : #000;
	color : #3ac1d3;
	margin:3px 0;
}

.item{
	color : #aad7de;
}

#bottom_line {
	border-top : 1px solid black;
	margin: 10px 0;
}
.pageNumber {
	text-align: center;
}

button{
  color: #03e9f4;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  background-color:black;
  text-align:center;
  padding:4px 8px;
  display:inline-block;
  border-radius:5px;
  margin:0 5px;
  font-size:15px;
}

button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button:focus {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
#operationSearch{
	position:relative;
	width:100%;
	margin:auto;
	height:90px;
	background-color:transparent;
}
#operationSearch .btnSelect, .btnInsert, .btnStat {
   box-shadow:inset 0px -3px 7px 0px #29bbff;
   background:linear-gradient(to bottom, black 5%, #0688fa 100%);
   background-color:#2dabf9;
   border-radius:3px;
   border:1px solid #0b0e07;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   padding:5px 12px;
   text-decoration:none;
   text-shadow:0px 1px 0px #263666;
}

#operationSearch .btnSelect:hover {
   background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
   background-color:#0688fa;
}

#operationSearch .btnInsert:hover {
   background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
   background-color:#0688fa;
}

#operationSearch .btnStat:hover {
   background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
   background-color:#0688fa;
}        
.item:hover{
	transform: scale(1.007);
	font-weight: bolder;
	border-radius: 10px;
	box-shadow: 0 0 3px #03e2ff,
                0 0 8px #03e2ff,
                0 0 15px #03e2ff,
                0 0 20px #03e2ff;
	/* background-color: #FFB74D; */
	color: #0288D1;
	transition:background-color 0.3s;
	cursor:pointer;	
}


.btnA{
    display: inline-block;
    padding: 5px 10px;   
    margin: 10px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.btnA:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btnA span{
    position: absolute;
    display: block;
}
.btnA span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btnA span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btnA span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.btnA span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
#btnSearch{
   position:absolute;
   bottom:10px;
   right:50px;
   filter: hue-rotate(270deg);
}
#btnStat{
   position:absolute;
   bottom:10px;
   left:0px;
   filter: hue-rotate(180deg);
   
}
#btnInsert{
   position:absolute;
   bottom:10px;
   right:-20px;
   filter: hue-rotate(110deg);
   
}

.marginCss{
	margin:5px;
}


@media screen and (max-width:1300px) {
	
	.item{
	font-size:3px;
	}
	
	#r1 {	
	font-size:3px;
	}
	
	#operationSearch{
	font-size:3px;
	}
}










